
<mat-card class="card card-spacing" style="padding-top: 20px;">
  <mat-grid-list cols="2" rowHeight="500px">
    <!-- <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="color"> -->
    <mat-grid-tile class="card-image-display" [colspan]="1" [rowspan]="1" [style.background.color]="primary">
      <img mat-card-img src="../../assets/images/thankyou_all_languages.jpg" alt="Brickell area picture">
      <!-- <img mat-card-img src="https://media.licdn.com/dms/image/C4D03AQHtgeQwCRjVzw/profile-displayphoto-shrink_200_200/0?e=1536192000&v=beta&t=u6_qEePNz9PY3V9ogr1P4kMZnUqGro2h-QmYr88BKCo" alt=""> -->
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card-content class="mat-card-content" style="padding-left:16px;"> 
        <h2>Jose <strong>Mugaburu</strong></h2>
        <p class="sub-title" style="font-size: 1.25em;"><em>Software Architect - Investor - Entrepreneur </em></p>
        <p> Thank for visiting my site. I encourage you to check out my blog, videos and services. If you wish to contact me, please do not hesitate to do so. </p>
        <button mat-raised-button class="blue white-font"><a class="white-font" target="_blank" href="{{links.linkedIn}}">CONTACT ME </a></button>
      </mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-divider></mat-divider>
  <mat-card-footer class="card-footer blue white-font">
    <button mat-button><a class="white-font card-button" target="_blank" href="{{links.stackOverflow}}"><i><span class="fa fa-2x fa-stack-overflow"></span></i></a></button>
    <button mat-button><a class="white-font card-button" target="_blank" href="{{links.github}}"><i><span class="fa fa-2x fa-github"></span></i></a></button>
    <button mat-button><a class="white-font card-button" target="_blank" href="{{links.projects}}"><i><span class="fa fa-2x fa-terminal"></span></i></a></button>
    <button mat-button><a class="white-font card-button" target="_blank" href="{{links.linkedIn}}"><i><span class="fa fa-2x fa-linkedin"></span></i></a></button>
    <button mat-button><a class="white-font card-button" target="_blank" href="{{links.blog}}"><i><span class="fa fa-2x fa-book"></span></i></a></button>
    <button mat-button><a class="white-font card-button" target="_blank" href="{{links.youtube}}"><i><span class="fa fa-2x fa-youtube"></span></i></a></button>
    <button mat-button><a class="white-font card-button" target="_blank" href="{{links.paypal}}"><i><span class="fa fa-2x fa-heart"></span></i></a></button>
    <button mat-button><a class="white-font card-button" target="_blank" href="{{links.realEstate}}"><i><span class="fa fa-2x fa-home"></span></i></a></button>
  </mat-card-footer>
</mat-card>
